@mixin none-indentation {
  margin: 0;
  padding: 0;
}

@mixin list-reset {
  @include none-indentation;

  list-style: none;
}

@mixin fixed-container {
  margin: 0 auto;

  @media (min-width: $width-content-desktop) {
    width: 1200px;
  }
}

@mixin fixed-indent {
  padding: 0 20px;

  @media (min-width: $width-tablet) {
    padding: 0 30px;
  }
}

@mixin accent-font {
  font-family: "Dosis", "Arial", sans-serif;
}

@mixin extra-font {
  font-family: "Roboto", "Arial", sans-serif;
}
