$width-content-desktop: 1200px;

$width-tablet: 768px;
$width-mobile: 320px;

$font-xxl: 54px;
$font-xl: 48px;
$font-L: 36px;
$font-l: 30px;
$font-M: 24px;
$font-m: 20px;
$font-s: 18px;
$font-xs: 14px;
