.advantage {
  @include fixed-container;
  @include fixed-indent;

  padding-top: 40px;
  padding-bottom: 18px;

  @media (min-width: $width-tablet) {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}

.advantage__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $width-tablet) {
    flex-direction: row;
  }
}

.advantage__item {
  margin-bottom: 22px;

  @media (min-width: $width-tablet) {
    flex-basis: 50%;
    margin-bottom: 40px;
  }

  @media (min-width: $width-content-desktop) {
    margin-bottom: 22px;
    flex-basis: 32%;
  }
}

.advantage__title {
  @include none-indentation;
  @include accent-font;

  font-size: $font-M;
  font-weight: 500;
  margin-bottom: 20px;
  display: inline;

  @media (min-width: $width-tablet) {
    display: block;
  }
}

.advantage__description {
  @include none-indentation;
  @include extra-font;

  font-weight: 300;
}

.advantage__icon {
  width: 75px;
  height: 75px;
  margin-right: 10px;
  display: inline;

  @media (min-width: $width-tablet) {
    float: left;
    display: block;
    height: 100%;
    margin-right: 25px;
  }
}

.advantage__fa {
  color: #f31f79;
  font-size: 24px;

  @media (min-width: $width-tablet) {
    padding: 26px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
  }
}
