.features-list {
  @include list-reset;
  @include extra-font;

  font-weight: 400;
}

.features-list__item {
  margin-bottom: 10px;
}

.features-list__item::before {
  content: "ï˜";
  font-family: "FontAwesome", sans-serif;
  font-size: 16px;
  margin-right: 20px;
}
