.features-list {
  @include list-reset;
  @include extra-font;

  font-weight: 400;
}

.features-list__item::before {
  content: "ï˜";
  font-family: "FontAwesome", sans-serif;
  margin-right: 20px;
}
