.logo {
  text-decoration: none;
  display: block;
}

.logo__img {
  display: inline-block;
}

.logo__text {
  @include accent-font;

  font-size: $font-xxl;
  color: #ffffff;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    font-size: $font-L;
  }
}
