.main-nav {
  width: 42%;
}

.main-nav__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main-nav__list-item {
  flex-basis: 25%;
  text-align: center;
}

.main-nav__link {
  @include extra-font;

  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 6px 0;

  &--btn {
    color: #000000;
    width: 153px;
  }
}
