.main-header {
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
}

.main-header__inner {
  @include fixed-container;
  @include fixed-indent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    padding-top: 30px;
  }
}
