.preview {
  position: relative;
}

.preview__inner {
  @include fixed-container;
  @include fixed-indent;

  display: flex;
  border-top: 2px solid #eeeeee;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $width-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $width-content-desktop) {
    padding-top: 175px;
    padding-bottom: 0;
  }
}

.preview__about {
  @media (min-width: $width-tablet) {
    width: 60%;
    margin-left: auto;
  }
}

.preview__title {
  @include none-indentation;
  @include accent-font;

  font-size: $font-L;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 23px;
}

.preview__description {
  @include none-indentation;
  @include extra-font;

  font-weight: 300;
}

.preview__content-one {
  display: block;
  margin-bottom: 30px;

  @media (min-width: $width-content-desktop) {
    margin-bottom: 72px;
  }
}

.preview__content-two {
  display: block;
  margin-bottom: 26px;
}

.preview__picture {
  display: none;

  @media (min-width: $width-tablet) {
    display: block;
  }

  @media (min-width: $width-content-desktop) {
    width: 40%;
    margin-right: 128px;
    position: relative;
    bottom: 59px;
    right: 100px;
  }
}

.preview__img {
  height: 100%;
  max-width: 100%;

  @media (min-width: $width-content-desktop) {
    max-width: initial;
  }
}
