.reviews {
  @include fixed-container;

  padding-top: 109px;
  padding-bottom: 120px;
}

.reviews__title {
  @include none-indentation;
  @include accent-font;

  font-size: $font-L;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 23px;
}

.reviews__slider {
  display: flex;
  position: relative;
}

.reviews__list {
  @include list-reset;

  display: flex;
}

.reviews__item {
  background-color: #f7fafc;
  padding: 40px;
}

.reviews__item:not(:last-child) {
  margin-right: 30px;
}

.reviews__item:hover {
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.reviews__btn {
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--right {
    right: -8%;
  }

  &--left {
    left: -8%;
  }
}

.reviews__comment {
  @include none-indentation;
  @include extra-font;

  margin-bottom: 27px;
  font-weight: 300;
  color: #777777;
}

.reviews__user {
  display: flex;
  align-items: center;
}

.reviews__name {
  @include none-indentation;
  @include accent-font;

  font-size: $font-s;
  font-weight: 400;
}

.reviews__company {
  @include none-indentation;
  @include extra-font;

  font-weight: 300;
  color: #777777;
}

.reviews__description {
  @include none-indentation;
  @include extra-font;

  text-align: center;
  margin-bottom: 67px;
  width: 80%;
  word-break: break-word;
  margin-left: auto;
  margin-right: auto;
}

.reviews__avatar {
  margin-right: 20px;
}

.reviews__avatar-img {
  display: block;
}
