.social {
  background-color: #222222;
}

.social__list {
  @include list-reset;
  @include fixed-container;
}

.social__link {
  text-decoration: none;
}

.social__copyright {
  @include none-indentation;
  @include extra-font;

  color: #ffffff;
  text-align: center;
  font-weight: 300;
}
